.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 60px;
    top: 370px;
  }
  
  .baloon {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 200px;
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 200px;
  }